# Flutter/Dart
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
pubspec.lock

# IDE
.idea/
.vscode/
*.iml
*.swp
*.swo

# Android
android/.gradle/
android/local.properties
android/app/build/
android/captures/
*.jks
*.keystore

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/engine/
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*

# macOS/Linux/Windows desktop
linux/flutter/ephemeral/
macos/Flutter/ephemeral/
windows/flutter/ephemeral/

# Misc
*.log
*.pyc
.DS_Store
Thumbs.db
# Native binaries / static libs
**/*.a
**/*.dylib
**/*.xcframework/

# Generated plugin registrants
**/generated_plugin_registrant.*
**/generated_plugins.cmake

# macOS
macos/Podfile.lock
